*{
  margin: 0;
  padding: 0;
}
body{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
/*fonts*/
.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title{
  font-family: 'Marcellus', serif;
  color: white;
}
.title h1{
  font-size: 30px;
  display: inline-block;
  padding-top: 20px;
}
.title span{
  font-size: 23px;
  padding-left: 10px;
}
.label-input, .footer-lower-content p, .footer-main-content p{
  color: white
}
.footer-main-content p{
  padding-right: 50px;
}
/*images*/

/*Header*/
header{
  background-color: #1abc9c;
  width: 100%;
  height: 140px;
  padding-top: 7px;
  padding-left: 20px;
}
/*Nav*/
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .nav-link{
  display: inline-block;
}
.nav .nav-link a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.nav ul{
  margin-bottom: 0;
}
.nav .nav-link a:hover{
  font-weight: bold;
  font-size: 20px;
  transition-duration: .1s;
}
/*Conten*/
.section{
  padding: 100px 20px;
}
.descripcion p{
  text-align: left;
}
.imagen1{
  height: 100vh;
  width: 100vh;
  margin:auto;

}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-maps{
  height: 300px;
}

/*Footter*/
footer{
  background-color: #1abc9c;
  width: 100%;
}

/* upgrade */
.footer-title{
  padding-top: 30px;
}
.footer-lower{
  background-color: #375249;
  margin-top: 20px;
  height: 70px;
}
.footer-lower .container{
  height: 70px;
}
.contact{
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact .col p{
  margin-bottom: 15px;
}
.contact .row .col-ms-2{
  width: 30px;
}
.contact .row i{
  font-size: 25px;
  width: 25px;
}
.contact .btn-contact{
  width: 100%;
  padding-top: 4%;
  padding-right: 9%;
}
.contact .btn-contact a{
  float: right;
}
.copy-right, .social-networks{
  width: 50%;
}
.social-networks, .social-link{
  display: inline-block;
}
.social-networks ul{
  float: right;
}
.social-networks ul, .copy-right p{
  margin-bottom: 0px;
}
.social-link{
  padding: 0 3px;
}
.footer-main,.footer-lower,.social-link a, .social-link a:hover{
  color: white;
}
.social-link a{
  font-size: 30px;
}
